.add-workingFlow .card-body {
  display: none;
}

.works-addheading {
  cursor: pointer;
  user-select: none;
}

.works-list {
  font-size: 1.1em;
}

.works-list .title-item {
  border-bottom: 1px dotted gray;
}

.works-list .dt-date:last-child {
  border-bottom: none;
}

.works-list .title-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.works-list .item-list {
  font-weight: 600;
  color: #667b82;
}

.works-list .dt-date {
  font-style: italic;
}
.works-list .dt-date{
  margin: auto;
}
.works-list .dt-date {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}
